.container,
.mobileContainer {
  background-color: #e30613;
  color: #ffffff;
  width: 100%;
  height: 80px;
}
.navList {
  display: flex;
  padding: 28px 100px;
}
.navList li {
  list-style-type: none;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  margin-right: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
.navList li:last-child {
  margin-right: 0;
}
.mobileContainer {
  display: none;
}
.mobileNav {
  width: 60%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #20323a;
  z-index: 10;
  overflow-y: scroll;
}

@media only screen and (max-width: 1500px) {
  .navList {
    padding: 20px 80px;
  }
  .navList li {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 1270px) {
  .navList {
    padding: 20px 60px;
  }
  .navList li {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1140px) {
  .navList {
    padding: 20px 40px;
  }
  .navList li {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 1040px) {
  .navList {
    flex-direction: column;
    padding: 20px 5px;
  }
  .navList li {
    font-size: 1.8rem;
    padding: 15px;
  }
  .container {
    display: none;
  }
  .mobileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  .logoDiv {
    display: flex;
    width: fit-content;
    height: 62px;
    background-color: white;
  }
  .logo {
    width: 100px;
    height: 60px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 60px;
  }
}
