
.title{
    font-size: 7.2rem;
    font-weight: 500;
    color: #ff0000;
    text-align: center;
}
.items{
    padding: 120px 210px;
}
.items ul li{
    font-size: 2.9rem;
    margin-bottom: 10px;
}
.mainareaimg{
    width: 25%;
    /* width: 384px; */
    height: 760px;
    object-fit: cover;
}
.redbox{
    width: 100%;
    height: 70px;
    background-color: #ff0000;
}


@media only screen and (max-width: 1000px) {
    .title{
        font-size: 4rem;
    }
    .items{
        padding: 40px 30px;
        margin-left: 20px;
    }
    .items ul li{
        font-size: 2.2rem;
        margin-bottom: 10px;
    }
  }
@media only screen and (max-width: 400px) {
    .title{
        font-size: 3rem;
    }
  }