.title {
  background-color: #20323a;
  width: 100%;
  height: 150px;
  padding-top: 45px;
  cursor: pointer;
}
.title p {
  color: white;
  font-size: 4.2rem;
  font-weight: bold;
  text-align: center;
}

.title:hover p {
  font-size: 4.6rem;
}

.ourServices {
  padding: 110px 180px;
  overflow-x: auto;
}
.ourServices ul li {
  font-size: 2.9rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.ourServices ul li:last-child {
  margin-bottom: 0;
}
.slider {
  padding: 0 30px;
  display: flex;
  justify-content: center;
}
.slider div {
  width: 400px;
  height: 400px;
  margin-bottom: 100px;
}
.slider div img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.table th,
.table td {
  border: 1px solid black;
  padding: 10px;
}
.table thead tr th {
  font-size: 3.2rem;
}
.table tbody tr td {
  font-size: 2.8rem;
}

.business {
  padding: 100px 20px;
}
.business img {
  display: block;
  margin: auto;
}
.button {
  font-size: 2.8rem;
  font-weight: 400;
  padding: 20px 40px;
  color: white;
  background-color: #161892;
  border: 3px solid #11022d;
  display: block;
  margin: auto;
  margin-top: 80px;
}
.download {
  font-size: 2.8rem;
  font-weight: 400;
  padding: 20px 40px;
  color: white;
  background-color: #ff0000;
  border: 3px solid #6e0101;
  display: block;
  margin: auto;
  margin-top: 80px;
  width: fit-content;
}
.principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 130px;
  row-gap: 20px;
  text-align: center;
}
.principal h2 {
  font-size: 3.4rem;
  font-weight: 500;
  color: black;
  margin: 20px 0;
}
.principal p {
  width: 600px;
  font-size: 2.8rem;
  font-weight: 400;
  color: black;
  line-height: 1.4;
}
.img {
  width: 100%;
  height: 700px;
  object-fit: fill;
}

.business img {
  margin-bottom: 30px;
  max-width: 1400px;
  max-height: 2000px;
  width: 95%;
  height: 95%;
}

@media only screen and (max-width: 1040px) {
  .ourServices {
    padding: 110px 100px;
  }
}
@media only screen and (max-width: 940px) {
  .ourServices {
    padding: 110px 60px;
  }
  .table thead tr th {
    font-size: 2.6rem;
  }
  .table tbody tr td {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 730px) {
  .ourServices {
    padding: 110px 20px;
  }
  .table thead tr th {
    font-size: 2.2rem;
  }
  .table tbody tr td {
    font-size: 2rem;
  }
  .ourServices ul {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .ourServices {
    padding: 60px 10px;
  }
  .table thead tr th {
    font-size: 1.8rem;
  }
  .table tbody tr td {
    font-size: 1.6rem;
  }
  .button, .download{
    font-size: 2.2rem;
    padding: 15px 20px;
  }
}
